.containerAdd{
    display: flex ;
    flex-direction: column;
    padding: 4px 4px;
    color : rgb(14, 10, 10);
    text-decoration:none;
    background-color: #c5d86d;
    font-size: 17px;
    width:100%;

}
.inputStyle{
    font-size: 17px;
    padding: 10px 16px;
    background-color :#f7f7f2;
    /* float : left; */
    border: none;
    margin-bottom: 3px;
    margin-left: 3px;
    width: 80%;
}
.btn{
    font-size: 17px;
    padding: 10px 16px;
    border: none; /* Remove borders */
    color: #f7f7f2; /* Add a text color */
    background-color: #261c15;
    overflow: hidden;
}
.largeBtn{
    width:90%;
    font-size: 17px;
    padding: 10px 16px;
    text-align: center;
    cursor: pointer;
    border: none; /* Remove borders */
    color: #f7f7f2; /* Add a text color */
    background-color: #261c15;
    overflow: hidden;
}
.checkBox{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}





/* Customize the label (the container) */
.container {
    width: max-content;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #E4E6C3;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #F7F7F2;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #261C15;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #range{
      color: #261C15
  }