/* Add a black background color to the top navigation */
.topnav {
    background-color: #261c15;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f7f7f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #E4E6C3;
    color: #261C15;
  }
  
 